# Gradle
.gradle/
build/

# IDEs
.idea/
.vscode/
*.iml

# Runtime / test server
run/

# Compiled files
bin/
out/
*.class

# Build artifacts
*.jar

# OS files
.DS_Store
Thumbs.db

# GitHub
.github/
TODOLIST.md
